html {
  background-color: #c9b5ab;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f1622;
  text-decoration: none;
}

h1 > i {
  font-style: italic;
}

.navigation {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  list-style-type: none;
  color: #8f2440;
}

a,
a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  background-color: #000;
  width: 100%;
}

figure > figcaption {
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
  font-style: italic;
  color: #222;
}

.germination {
  font-size: 1.125rem;
  font-weight: bold;
  color: #222;
  font-family: "PT Serif", serif;
}

.cooking {
  font-size: 1.125rem;
  color: #222;
  font-family: "PT Serif", serif;
}

.cooking > b {
  font-weight: bold;
  color: #222;
  font-family: "PT Serif", serif;
}

blockquote {
  font-size: 1.125rem;
  color: #222;
  font-family: "PT Serif", serif;
}

blockquote > i {
  font-family: "PT Serif", serif;
  font-style: italic;
  color: #222;
}

blockquote > p {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-style: italic;
}

blockquote > cite {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-style: italic;
  color: #222;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f1622;
}

h2 > li {
  list-style-type: lower-alpha;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  color: #222;
}

h2 > p {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-style: italic;
  color: #222;
}

dl {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: #222;
}

dl > data {
  font-size: 1.125rem;
}

aside > li {
  list-style-type: circle;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  color: #222;
}

footer {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  color: #222;
}

footer > a {
  color: #3f1622;
}
